body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Helvetica', sans-serif;
}

model-viewer.upload-preview {
  height: 400px;
}

model-viewer.individual {
  height: 400px;
}

model-viewer.featured {
  height: 500px;
  width: 500px;
}

model-viewer.fullscreen {
  height: 85%;
  width: 85%;
}
